
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header text-primary">
              <h1>Careers</h1>
            </div>
            <hr>
            <h3 class="text-primary">Marketing and Sales Internship</h3>
            <h4>Genetic Foresight is currently seeking Marketing and Sales Interns to
              assist in the growth of the company.</h4>
            <br>
            <h4>Marketing and sales interns will report directly to Co-Founders with their
              customer acquisition progress. They will be developing and employing unique
              and effective marketing strategies across multiple platforms. They will
              be analyzing current and future optimal business strategies. Interns will
              have a significant role at our company given its small size which will
              allow for rapid personal and professional development.</h4>
            <br>
            <h4>To apply, please email your resume to contact@geneticforesight.com</h4>
          </div>
        </div>
      </div>
    </div>
   

