
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header text-primary">
              <h1>Frequently Asked Questions</h1>
            </div>
            <hr>
            <h3 class="text-primary">Q: What is the test Genetic Foresight offers?</h3>
            <h4>We offer a pharmacogenomic test that determines if you are at increased
              risk of side effects from taking over 150 different medications.</h4>
            <br>
            <h3 class="text-primary">Q: What do my genes have to do with medication?</h3>
            <h4>A: Your genes determine if your body will react negatively or be unaffected
              by pharmaceutical drugs. The revolution of personalized medicine is just
              beginning to become widely adopted.</h4>
            <br>
            <h3 class="text-primary">Q: Why should I trust this test?</h3>
            <h4>A: Genetic Foresight's test has undergone the TaqMan OpenArray CLIA-LDT
              validation. This validation procedure examines the test's accuracy, precision,
              analytical specificity, and analytical sensitivity.
              <!--The full validation
              report may be viewed HERE.-->
            </h4>
            <br>
            <h3 class="text-primary">Q: Is the test invasive?</h3>
            <h4>A: The test is very simple and noninvasive. Your DNA is collected through
              a saliva sample in under five minutes. Then, either you or your clinician's
              office will send the kit to our lab.</h4>
            <br>
            <h3 class="text-primary">Q: Is the test covered by insurance?</h3>
            <h4>A: Unfortunately the test is not currently covered by insurance companies;
              we are currrently working hard to change this.</h4>
          </div>
        </div>
      </div>
    </div>
   