
    <div class="cover">
      <div class="cover-image" style="background-image : url('/assets/Gene_Background_Edited.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">Genetic Foresight</h1>
            <h2 class="text-inverse">Personalizing Medication for Safer and More Effective Prescriptions</h2>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center text-primary">Negative side effects from pharmaceutical drugs affect millions of Americans
              each year</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-center text-primary">The Problem</h1>
            <h3 class="text-center">Currently health care professionals prescribe pharmaceutical drugs based
              on very limited information - often just a brief family history. These
              medications have side effects in some people that cause severe health problems
              including, in rare cases, death.</h3>
          </div>
          <div class="col-md-6">
            <h1 class="text-center text-primary">Our Solution</h1>
            <p></p>
            <h3 class="text-center">Genetic Foresight provides a non-invasive genetic test to determine if
              a patient will have an adverse reaction to over a hundred different pharmaceutical
              drugs. This will provide your health practitioner with more information
              before prescribing medication, which will minimize potential negative side
              effects.</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">Personalized Medicine</h1>
            <h3 class="text-center">Currently medicine is based on a "one-size-fits-all" approach. However,
              individuals react differently to certain procedures and medication dependent
              on their genetic makeup. Thus, an individual's healthcare plan should be
              tailor-made for his or herself. Genetic Foresight provides a test allowing
              your physicians to educate themselves about your genetic makeup in order
              to prescribe you the safest and most effective pharmaceutical drugs.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <h1 class="text-center text-primary">Founders</h1>
          <div class="col-md-6">
            <img src="/assets/Doug.jpg" class="center-block img-circle img-responsive" width="350">
            <h1 class="text-center text-primary">Doug Hapeman</h1>
            <h4 class="text-center">Co-Founder</h4>
            <h3 class="text-center">Electrical Engineering and Computer Science</h3>
            <h4 class="text-center">University of California - Berkeley</h4>
          </div>
          <div class="col-md-6">
            <img src="/assets/Matt.jpg" class="center-block img-circle img-responsive" width="350">
            <h1 class="text-center text-primary">Matthew Milford</h1>
            <h4 class="text-center">Co-Founder</h4>
            <h3 class="text-center">Bioengineering</h3>
            <h4 class="text-center">University of California - Berkeley</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="section"></div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="text-center">Contact Us: contact@geneticforesight.com</h4>
          </div>
        </div>
      </div>
    </footer>
    