
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header text-primary">
              <h1>Product</h1>
            </div>
            <hr>
          </div>
          <div class="col-md-6">
            <h4>Genetic Foresight's CLIA-Certified, laboratory developed, non-invasive
              test offers a report to aid in personalizing medications prescribed to
              you throughout your lifetime. Our genetic test covers over 150 commonly
              used pharmaceuticals ranging from pain relief to ADHD medication.</h4>
            <h4>This information can help your health care provider in prescribing the
              correct medication(s) for you. In the long run, this will minimize adverse
              side effects from pharmaceuticals.</h4>
            <h4>
              <a href="Sample_Report.pdf">View a Sample Report Here</a>
            </h4>
          </div>
          <br>
          <div class="col-md-6">
            <img src="/assets/Personalized_Medicine.png" class="center-block img-responsive" width="375">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h5 class="text-center">Adverse Pharmaceutical Drug Reactions</h5>
            <img src="/assets/FDA_Graph.png" class="center-block img-responsive" width="375">
            <h5 class="text-center">Data from Food and Drug Administration (FDA) FAERS Reporting System</h5>
          </div>
          <div class="col-md-6">
            <h3 class="text-primary">According to the FDA, adverse drug reactions...</h3>
            <br>
            <h4>- Result in 2 million hospitalizations each year</h4>
            <h4>- Result in 100,000 dealths annually, making it the 5th leading cause
              of death in the United States</h4>
            <h4>- Cost $177 billion in additional healthcare complications annually</h4>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                                
                                      ga('create', 'UA-87279298-1', 'auto');
                                      ga('send', 'pageview');
    </script>
  

