
    <div class="section">
      <div class="container">
        <div class="page-header text-primary">
          <h1>Science</h1>
        </div>
        <div class="row">
          <div class="col-md-7">
            <hr>
            <h4>We are utilizing a research-backed scientific genetic test known as DNA
              microarray analysis. DNA microarrays are filled with known genetic markers
              that can bind to your DNA when tested. Based on where your DNA binds, we
              are able to determine if your genetic code contains specific gene sequences.
              The sequences we test for are known to have increased side effects when
              an individual takes a specific pharmaceutical, and therefore we can provide
              your personalized risk report.</h4>
            <br>
          </div>
          <div class="col-md-5">
            <img src="/assets/Microarray_Image.jpg" class="center-block img-responsive" width="375">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">The Process</h1>
            <br>
            <br>
          </div>
          <div class="col-md-3">
            <img class="center-block img-responsive img-rounded" src="/assets/Step1.png">
            <h2 class="text-center">Step 1</h2>
            <h4 class="text-center">DNA Saliva Sample Collection</h4>
          </div>
          <div class="col-md-3">
            <img class="center-block img-responsive img-rounded" src="/assets/Step2.png">
            <h2 class="text-center">Step 2</h2>
            <h4 class="text-center">Amplification, Purification, and Detection of Target DNA Regions</h4>
          </div>
          <div class="col-md-3">
            <img class="center-block img-responsive img-rounded" src="/assets/Step3.png">
            <h2 class="text-center">Step 3</h2>
            <h4 class="text-center">Cross-Referencing of Personal Genetic Data With Known Problematic Sequences</h4>
          </div>
          <div class="col-md-3">
            <img class="center-block img-responsive img-rounded" src="/assets/Step4.png">
            <h2 class="text-center">Step 4</h2>
            <h4 class="text-center">In-Depth, Understandable Scientific Analysis Securely Delivered to You
              and Your Doctor</h4>
          </div>
        </div>
      </div>
    </div>
    
  

